@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import url(http://fonts.googleapis.com/css?family=Candal);

.wrapper{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper_2{
	width:90%;
	float:left;
	min-height:1200px;
	background: rgb(158, 216, 224);
}

.sidebar{

width:10%;
float:left;
}

.login_row{
	text-align: center;
	margin: 0px 0 10px 0;
	height: 41px;
background: rgb(246, 242, 242);
}

.login_row #container1{
	width:910px;
	margin: 0 auto 0 auto;
}
.login_row #login_info{
	width:730px;
	margin-top: 12px;
	float:left;
}

.login_row #sociel_icons{
	width:16%;
	float:left;
	margin-left:10px;
}

.socielIcons{
	height:30px;
	width:30px;
	margin-top: 7px;
	padding: 0 7px 0 7px;
	
}

button{
	background:none;
}

.copyright{
	clear:both;
	
}

#login_form{
	float:left;
}

.hint_info_loginpage{
display:none;
clear: both;
margin-left: 500px;
width: 20%;
height: 27px;
background: rgb(195, 228, 196);
}

.central_window{
	width: 40%;
	height:10%;
	background:white;
	font-size:20pt;
	text-align:center;
	position: fixed;
	margin-left: -370px;
	margin-top: -80px;
	top: 50%;
	left: 50%;
	display: block;
	z-index: 2000;
	//border: 1px solid #006699;
}

.user_info{
	background: rgb(232, 235, 234);
padding: 5px;
height: 20px;
border: 1px solid rgb(189, 178, 178);
}

.user_logout_button{
	float:right;
}

.sidebar_logo:hover{
cursor: pointer;
}

.high_light_area{
	height:380px;

}

.high_light_area_header{
	clear:both;
	font-family: 'Candal', sans-serif;
	font-size: 24px;
	
}
.high_light_area_header #notice_header{float:left;background:rgb(229, 229, 229);height:35px;width:32%;border-right:solid 1px;}.high_light_area_header #notice_header #notice_header_content{padding-left:20px; }
.high_light_area_header #recentpost_header{float:left;background:rgb(229, 229, 229);height:35px;width:32%;border-right:solid 1px; margin-left:1%; }.high_light_area_header #recentpost_header #recentpost_header_content{padding-left:20px;}
.high_light_area_header #recentreply_header{float:left;background:rgb(229, 229, 229);height:35px;width:32%;border-right:solid 1px; margin-left:1%;}.high_light_area_header #recentreply_header #recentreply_header_content{padding-left:20px;}


.high_light_area_content{
	clear:both;
	padding-top:9px;
	font-family: 'Duru Sans', sans-serif;
}

.high_light_area_notice{background:rgb(229, 229, 229);height:325px;width:32%;float:left;border-right:solid 1px;}
.high_light_area_notice #content_div{padding:5px;padding-left:20px;}

.high_light_area_recentpost{background:rgb(229, 229, 229);height:325px;width:32%;float:left;margin-left:1%;}
.high_light_area_recentpost #content_div{padding:5px; padding-left:20px;}
.high_light_area_recentreply{background:rgb(229, 229, 229);height:325px;width:32%;float:left;margin-left:1%;}
.high_light_area_recentreply #content_div{padding:5px;padding-left:20px;}
#content_div > p{
overflow: hidden;
white-space: nowrap;
}

.high_light_a{ text-decoration:none; }
.high_light_a:hover{ cursor: pointer; }

.inner_wrapper{
	padding:5px;
	margin: 10px;
}

.category{
	min-height:600px;
	border:solid 1px;
}

.cate_game_coc{
	padding:10px;
	float:left;
	width:48%;
	height:auto;
	//background-image: url('picture/coc/cate_button.jpg');
	//background-repeat: no-repeat;
}

.cate_colunm_2{
	padding:5px;
	clear:both;
	
}

.cate_entry:hover{
	cursor: pointer;
}

.coc_post_style{
	border: 1px solid black;
	clear:both;
	height:400px;
	overflow-y:scroll;
}

.new_post{
	border: 1px solid black;
	clear:both;
}

.all_post{
	//border: 1px solid black;
}
.post_picture{
	padding: 10px;
	width:29%;
	float:right;
}

.post_content{
	padding: 10px;
	width:68%;
	float:left;
}

.post_footer{
	clear:both;
	padding: 10px;
	margin-top:350px;
}
.post_table {
	border: 1px solid black;
	margin-top:10px;
}
.post_table tr#th{
	background:rgb(232, 235, 234);
}
.post_table th#th_id{
	width:4%;
	
}
.post_table td#tr_id{
	background:rgb(232, 235, 234);
}

.post_table tr#post{
	cursor: pointer;
}

.post_table tr#post:hover{
	background:rgb(212, 212, 212);
}
.table_header{
	//border: 1px solid black;
	height:100px;
}

.inner_post_category{
	background:rgb(232, 235, 234);
	padding:10px;
	margin-top:10px;
	border:solid 1px;
}

.post_control_panel{
	background:rgb(232, 235, 234);
	padding:10px;
	margin-top:10px;
	border:solid 1px;
}

.control_panel_button{
	margin:5px 10px;
}
.post_header_table{
	padding:0px;
}

.post_header_table th{
	padding:1px; 
	border:0px;
	width: 6%;
}

.inner_post_content{
	background:rgb(232, 235, 234);
	padding:10px;
	margin-top:10px;
	min-height:200px;
	border:solid 1px;
}

.post_text_area{
	padding:5px;
	min-height:100px;
}

.post_picture_area #post_picture{
	max-width: 50%;
}

div > #reply_div{
	display: none; 
	position: fixed; 
	top: 10%; 
	left: 28%; 
	width: 45%; 
	height: 55%; 
	background-color: rgb(229, 229, 229); 
	z-index:1001; 
	-moz-opacity: 0.9; 
	opacity:.80; 
	filter: alpha(opacity=88); 
	
}

div > #reply_div  > .reply_div_form{
	margin:2%;
	background:black;
	height:80%;
}

div > #reply_div > .reply_div_footer{
	clear:both;
	margin:2%;
	height: 10;
}

.post_footer_div{
	height:10px;
	padding:7px;
}
.post_footer_div_userinfo{ float:left; } .post_footer_div_buttons{ float:right; }

.p-reply_title{
	font-weight:bold;
}

