@charset "utf-8";


.wrapper{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper_2{
	width:90%;
	float:left;
	min-height:868px;
	background: rgb(158, 216, 224);
}

.sidebar{

width:10%;
float:left;
min-height:868px;
background: rgb(232, 235, 234);
}

.login_row{
	text-align: center;
	margin: 0px 0 10px 0;
	height: 41px;
background: rgb(246, 242, 242);
}

.login_row #container1{
	width:910px;
	margin: 0 auto 0 auto;
}
.login_row #login_info{
	width:730px;
	margin-top: 12px;
	float:left;
}

.login_row #sociel_icons{
	width:16%;
	float:left;
	margin-left:10px;
}

.socielIcons{
	height:30px;
	width:30px;
	margin-top: 7px;
	padding: 0 7px 0 7px;
	
}

button{
	background:none;
}

.copyright{
	clear:both;
	
}

#login_form{
	float:left;
}

.hint_info_loginpage{
display:none;
clear: both;
margin-left: 500px;
width: 219px;
height: 27px;
background: rgb(195, 228, 196);
}

.central_window{
	width: 400px;
	position: absolute;
	margin-left: -200px;
	margin-top: -80px;
	top: 50%;
	left: 50%;
	display: block;
	z-index: 2000;
	//border: 1px solid #006699;
}

.user_info{
	background: rgb(232, 235, 234);
padding: 5px;
height: 20px;
border: 1px solid rgb(189, 178, 178);
}

.user_logout_button{
	float:right;
}

.sidebar_logo:hover{
cursor: pointer;
}

.high_light_area{
	min-height:250px;
	border:solid 1px;
}

.inner_wrapper{
	padding:5px;
}

.category{
	min-height:600px;
	border:solid 1px;
}

.cate_game_coc{
	padding:10px;
	float:left;
	width:48%;
	height:auto;
	//background-image: url('picture/coc/cate_button.jpg');
	//background-repeat: no-repeat;
}

.cate_colunm_2{
	padding:5px;
	clear:both;
	
}

.cate_entry:hover{
	cursor: pointer;
}